:host {
    display: grid;
    grid-template-areas: 'sidebar header' 'sidebar content';
    grid-template-columns: 200px 1fr;
    grid-template-rows: max-content 1fr;
    min-height: 100%;
}

app-sidebar {
    grid-area: sidebar;
}

app-header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.content {
    grid-area: content;
    padding: 0 1rem;
}