:host {
    display: flex;
    align-items: start;
    row-gap: 1rem;
    background-color: #f8f9fa;
    border-right: 1px solid #efefef;
}

.motoko-logo {
    width: 200px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 1rem;
}

.balance {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.sidebar {
    position: sticky;
    top: 0;
}