@use '@angular/material' as mat;

$app-primary: mat.define-palette(mat.$indigo-palette, 700);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$pink-palette, 600);
$app-typography: mat.define-typography-config(
    $font-family: unquote("Roboto, 'Helvetica Neue', sans-serif")
);

$app-theme: mat.define-light-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn
        ),
        typography: $app-typography,
        density: 0
    )
);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: mat.font-family($app-typography, 'body-1');
}

@include mat.core();
@include mat.all-component-themes($app-theme);

.mdc-button.has-spinner .mdc-button__label {
    display: flex;
    align-items: center;
}