<div class="principal">
    <h4>Principal ID:</h4>
    <span>{{ principal$ | async }}</span>
    <button mat-icon-button class="copy-button" (click)="copyPrincipal()" matTooltip="Copy principal ID to clipboard">
        <mat-icon fontIcon="content_copy"></mat-icon>
    </button>
</div>
 <div class="balance">
    <h4>Balance:</h4>
    <span>{{ balance$ | async }}</span>
    <button mat-icon-button class="refresh-button" (click)="updateBalance()" matTooltip="Refresh">
        <mat-icon fontIcon="refresh"></mat-icon>
    </button>
</div>
<button class="logout-button" mat-raised-button (click)="authService.signOut()">Sign out</button>