:host {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-areas: 'principal balance logout';
    grid-template-columns: minmax(auto, max-content) minmax(max-content, 1fr) auto;
    align-items: center;
    grid-column-gap: 1rem;
    width: 100%;
}

.principal, .balance {
    display: grid;
    grid-template-areas: 'head head' 'value button';
    grid-template-rows: 1fr max-content;
    grid-column-gap: .5rem;
    justify-self: start;

    h2 {
        grid-area: head;
    }
    span {
        grid-area: value;
        align-self: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .mdc-icon-button {
        grid-area: button;
        width: 32px;
        height: 32px;
        padding: 0;
        mat-icon {
            height: 16px;
            width: 16px;
            font-size: 16px;
        }
    }
}

.logout-button {
    grid-area: logout;
}

h4 {
    margin: 0;
}